.founb-projects-wrapper {
  .list-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      display: flex;
      justify-content: center;
      .sort-wrapper {
        display: flex;
        padding-right: 20px;

        i {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .page-wrapper {
      display: flex;
    }
  }

  :global .ant-pagination {
    text-align: right !important;
  }
  .list-item-desc {
    span {
      display: inline-block;
      padding-right: 30px;
    }
  }
}
