.search-list-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .banner-wrapper {
    width: 100%;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53a7f7;
    h2 {
      color: #fff;
    }
  }
  .search-main-wrapper {
    width: 835px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      width: 100%;
      margin: 0;
      padding: 26px;
      text-align: center;
      font-weight: 600;
    }
    .field-wrapper {
      padding: 21px 0 45px;
      .field-label {
        display: inline-block;
        width: 100px;
      }
      button {
        border: 1px solid #53a7f7;
        color: #53a7f7;
      }
    }
    .tab-wrapper {
      width: 100%;
      .report-item {
        height: 180px;
        background-color: #f2f7fe;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: #90c0f4;
        cursor: pointer;
      }
    }
  }
}
