.home-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .banner-wrapper {
    width: 100%;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53a7f7;
    h2 {
      color: #fff;
    }
  }
  .home-main {
    width: 835px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin: 0;
      padding: 26px;
      text-align: center;
      font-weight: 600;
    }
    .tips-wrapper {
      width: 645px;
      color: #90c0f4;
      padding-bottom: 50px;
      span {
        display: inline-block;
        padding: 8px 0;
      }
      .tips-desc {
        width: 645px;
        height: 88px;
        padding: 15px;
        display: flex;
        align-items: center;
        border: 1px solid #90c0f4;
        border-radius: 5px;
        background-color: #f2f7fe;
        h4 {
          height: 100%;
          padding: 7px 25px 0 0;
          color: #90c0f4;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            line-height: 26px;
          }
        }
      }
    }
  }
}
